@{
    ViewBag.Title = "Contact";
}
<h3>Contactese</h3>

<address>

    <img src="~/Content/Image/Contact/gmail-circle.png" /> <a href="mailto:arielbvergara@gmail.com">arielbvergara@gmail.com</a><br />
    <img src="~/Content/Image/Contact/linkedin-circle.png" /><a href="https://www.linkedin.com/in/abvergara/">www.linkedin.com/in/abvergara</a><br />
    <img src="~/Content/Image/Contact/whatsapp-circle2.png" /><a href="https://api.whatsapp.com/send?phone=+541162064526">+541162064526</a><br />

</address>

<address>
    <strong>Soporte:</strong><a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>