
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title-app">
    <p>
        Sistema de verificación de <br />
        Sujeto Obligado
    </p>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Consulta Simple</h5>
                <p class="card-text">Consulte a partir de un Cuit, si dicho Cuit está registrado como Sujeto Obligado ante la  <a href="https://www.argentina.gob.ar/uif/sujetos-obligados">UIF</a></p>
                <div class="text-right">
                    <a href="@Url.Action("Consulta","SujetoObligado")" class="btn btn-ingresar">Ingresar ></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Consulta Masiva</h5>
                <p class="card-text">Consulte a partir de un Excel con cuits, si dichos Cuits están registrado como Sujeto Obligado ante la <a href="https://www.argentina.gob.ar/uif/sujetos-obligados">UIF</a>.</p>
                <div class="text-right">
                    <a href="@Url.Action("ConsultaMasiva","SujetoObligado")" class="btn btn-ingresar">Ingresar ></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Historial</h5>
                <p class="card-text">Tenga un registro de los Cuits consultados previamente.</p>
                <div class="text-right">
                    <a href="@Url.Action("Index","Historial")" class="btn btn-ingresar">Ingresar ></a>
                </div>
            </div>
        </div>
    </div>
</div>
